@model otobusrezervasyonsistemi.Models.Buses

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "EditBus";
}

<h1>EditBus</h1>

<h4>Buses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="BusName" class="control-label"></label>
                <input asp-for="BusName" class="form-control" />
                <span asp-validation-for="BusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalArmchair" class="control-label"></label>
                <input asp-for="TotalArmchair" class="form-control" />
                <span asp-validation-for="TotalArmchair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
