@model otobusrezervasyonsistemi.Models.AddBus

@{
    Layout = "_AdminLayout";
    ViewData["title"] = "Otobüs Güncelle";
}

<div class="container">
    <form asp-controller="Routes" asp-action="BusList">
        <h2>Otobüs Güncelle</h2>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BusName">Otobüs Markası</label>
                    <input asp-for="BusName" class="form-control" name="BusName">
                    <span style="color:red;" asp-validation-for="BusName"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TotalArmchair">Koltuk Sayısı</label>
                    <input asp-for="TotalArmchair" class="form-control" name="TotalArmchair">
                    <span style="color:red;" asp-validation-for="TotalArmchair"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}