.listContainer {
    background: #ffffff;
    box-shadow: 0 4px #b4b2b2;
    border-radius: 6px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    margin: 1em 0;
}
@media (max-width:768px){
    .content{

    flex-direction:column;
    }
    .bus {
        margin-bottom: 8px;
    }
}
.bus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.bus .busName {
    font-family: monospace;
    font-weight: 500;
    font-size: 24px;
    margin-left:15px;
}
.bus .busInfoText{
    margin-left:10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.armchair {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.seats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.empty {
    background-color: #8bc34a;
}

.taken {
    background-color: #f44336;
}
