.title {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    font-size: 72px;
    font-family: initial;
}
.togglePage {
    display: flex;
    margin-top: 40px;
    justify-content:center;
}
.active {
    background: #cfecff !important;
}
.loginPage, .registerPage {
    padding: 14px;
    background: #c1c1c147;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}
.forms {
    display: flex;
    justify-content: center;
}

.loginForm {
    display: flex;
}
.loginForm .loginCard {
    display: flex;
    flex-direction: column;
    background: #0098ff30;
    padding: 32px;
    border-radius: 6px;
}
.loginForm .loginCard h1{
    margin-bottom:20px;
    text-align:center;
}
.loginForm .loginCard .buttons{
    display:flex;
    justify-content: center;
    gap: 6px;
}

.signUpForm {
    display: none;
}
.signUpForm .signUpCard {
    display: flex;
    flex-direction: column;
    background: #0098ff30;
    padding: 32px;
    border-radius: 6px;
}
.signUpForm .signUpCard h1{
    margin-bottom:20px;
    text-align:center;
}
.signUpForm .signUpCard .buttons{
    display:flex;
    justify-content: center;
    gap: 6px;
}
.inputRow{
    display:flex;
    gap:20px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #cfecff;
    padding: 0px 12px;
}

.footer p{
    color:black !important;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover {
        color: red;
    }