.listContainer {
    background: #ffffff;
    box-shadow: 0 4px #b4b2b2;
    border-radius: 6px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    margin: 1em 0;
}

@media (max-width:768px) {
    .content {
        flex-direction: column;
    }

    .bus {
        margin-bottom: 8px;
    }
}

.bus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .bus .busName {
        font-family: monospace;
        font-weight: 500;
        font-size: 24px;
        margin-left: 15px;
    }

    .bus .busInfoText {
        margin-left: 10px;
    }