@{
    ViewData["title"] = "Biletlerim";
}

<link rel="stylesheet" href="/css/MyTicket.css" />

<div class="listContainer">
    <div class="content">
        <div class="bus"><img src="/common/bus.png" width="48" height="48" /><span class="busName">Kamil Koç</span></div>
        <div class="bus"><img src="/common/clock.png" width="24" height="24" /> <span class="busInfoText">00:05</span></div>
        <div class="bus"><img src="/common/tag.png" width="24" height="24" /><span class="busInfoText">1500 TL</span></div>
        <div class="bus"><img src="/common/location.png" width="24" height="24" /><span class="busInfoText">Ankara</span></div>
        <div class="bus"><img src="/common/location (1).png" width="24" height="24" /><span class="busInfoText">İstanbul</span></div>
    </div>
</div>
