@{
    ViewData["title"] = "Güzergahlar";
}

<link rel="stylesheet" href="/css/BusList.css" />

<div class="listContainer">
    <div class="content">
        <div><img src="/common/bus.png" width="24" height="24" />Kamil Koç</div>
        <div><img src="/common/clock.png" width="24" height="24"/> 00:05</div>
        <div><img src="/common/tag.png" width="24" height="24"/> 1500 TL</div>
        <div><img src="/common/ticket.png" width="24" height="24" /> 10 adet </div>
        <div><a href="/Ticket/Index"><button class="btn btn-outline-primary">Koltuk Seç</button></a></div>
    </div>
</div>