@{
    ViewData["Title"] = "Bilet";
}

<link rel="stylesheet" href="/css/Ticket.css" />

<div class="ticketContainer">
    <div class="content">
        <div class="row">
            <div class="col-8">
                <div class="ticketInfo">
                    <div class="title">Güzergah/Otobüs Bilgisi</div>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <th>Otobüs</th>
                            </tr>
                            <tr>
                                <td>Kamil KOÇ</td>
                            </tr>
                            <tr>
                                <th>Kalkış</th>
                                <th>Varış</th>
                            </tr>
                            <tr>
                                <td>Alibeyköy</td>
                                <td>Ankara</td>
                            </tr>
                            <tr>
                                <th>Hareket Zamanı</th>
                                <th>Koltuk</th>
                            </tr>
                            <tr>
                                <td>20 Temmuz</td>
                                <td>35, 36</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="passengerInfo">
                    <div class="title">Yolcu Bilgisi</div>
                    <div class="mb-3">
                        <label for="adSoyad" class="form-label">Ad Soyad</label>
                        <input type="text" class="form-control" id="adSoyad" aria-describedby="adSoyad">
                    </div>
                    <div class="mb-3">
                        <label for="TC" class="form-label">TC</label>
                        <input type="text" class="form-control" id="TC">
                    </div>
                    <div class="mb-3">
                        <label for="adSoyad" class="form-label">Ad Soyad</label>
                        <input type="text" class="form-control" id="adSoyad" aria-describedby="adSoyad">
                    </div>
                    <div class="mb-3">
                        <label for="TC" class="form-label">TC</label>
                        <input type="text" class="form-control" id="TC">
                    </div>
                    <button class="btn btn-primary">Satın Al</button>
                </div>
            </div>
        </div>
        
    </div>
</div>